.bgHead {
    background: url(../images/bg.jpg) no-repeat center center scroll;
    padding: 150px 0;
    opacity: 0.6;
    z-index: 0;
  }
  .container {
    z-index: 1;
    opacity: 1;
  }
  h4 {
    text-align: center;
    color: white;
  }